<h1>ChangeLog</h1>

<p>5.1.023: Embed the gumbo-parser code.</p>
<p>5.1.023: Bibledit for iOS can download and share exports.</p>
<p>5.1.022: Native Bibledit for Windows ARM for better performance and battery life.</p>
<p>5.1.022: Install steps for the Cloud om more Linux distros.</p>
<p>5.1.022: The word-level attributes are editable in all three Bible editors.</p>
<p>5.1.022: The word-level attributes are no longer visible in the verse editor and the chapter editor.</p>
<p>5.1.022: Safer calls of commandline tools.</p>
<p>5.1.021: Support importing multiple files in one go into a Bible.</p>
<p>5.1.021: Support change notifications for Bibles with one or more dots in their name.</p>
<p>5.1.021: Bibledit for iOS is now written in Swift.</p>
<p>5.1.021: Displays Hebrew cantillation and vowels, Greek accents, Arabic vowels and shaping, in the SWORD resources.</p>
<p>5.1.021: Fixed: Fails to navigate through exports on Windows.</p>
<p>5.1.020: Bibledit for Windows moved from the CEF Sharp to the Microsoft Webview2 embedded web browser.</p>
<p>5.1.020: Fix NET Bible error "You have been blocked".</p>
<p>5.1.019: Fix errors when multiple processes generate change notifications simultaneously.</p>
<p>5.1.019: Logs every Bible/book/chapter when processing user-generated change notifications.</p>
<p>5.1.019: No more send/receive lockups due to plenty of emails to be sent off.</p>
<p>5.1.019: Cloud logs and removes a consultation note without a passage.</p>
<p>5.1.019: Disable std::filesystem on Cloud and Linux because of erratic behaviour.</p>
<p>5.1.018: Bibledit for Windows is built through Visual Studio 2022 on Windows 11.</p>
<p>5.1.017: Submit Bible to the Bible Dropbox manually only.</p>
<p>5.1.016: Upgrade to MbedTLS 3.6.</p>
<p>5.1.013: Can enable or disable spell check in Bible editors.</p>
<p>5.1.013: Fix broken Javascript in rare cases, fixing a broken verse editor.</p>
<p>5.1.012: Logs the correct client IP address instead of 0.0.0.0.</p>
<p>5.1.012: Bibledit for macOS again can open a file from a page.</p>
<p>5.1.012: Bibledit for macOS again can search text on a page.</p>
<p>5.1.012: Bibledit for macOS again can print a page.</p>
<p>5.1.012: Log the remote IP address that causes TLS errors.</p>
<p>5.1.012: Localize the recently used styles.</p>
<p>5.1.011: Put file "create-no-accounts" in the "config" folder to disable user account creation in Bibledit Cloud.</p>
<p>5.1.010: The macOS app is now written in Swift.</p>
<p>5.1.010: The macOS app now uses the newer WebKit View.</p>
<p>5.1.010: Can remove a Bible with trailing spaces in its name.</p>
<p>5.1.010: Support for USFM marker \sup for superscript text.</p>
<p>5.1.009: Downloading exports in the Windows app works again.</p>
<p>5.1.009: Finding text in the Windows app user interface works again.</p>
<p>5.1.007: Outputs a blank line for the \b style for Web export.</p>
<p>5.1.007: Outputs the chapter number also for one-chapter books.</p>
<p>5.1.006: The start of a line of poetry no longer overlaps a chapter number in drop caps in web export.</p>
<p>5.1.003: Marks USFM table cells with a vertical bar in the Bible editors.</p>
<p>5.1.002: Can display the OSIS tags, like Strong's numbers, in the SWORD resources.</p>
<p>5.1.002: Support for the new Studylight website so it displays the Studylight resources again.</p>
<p>5.0.997: Fixed: The French user interface gives Javascript errors in the Bible editors.</p>
<p>5.0.996: If the secure webserver is not running in Bibledit Cloud, then it never automatically forwards from plain http to the secure https, even if this automatic forwarding setting is on.</p>
<p>5.0.994: Being able to set a stylesheet for a Bible is now a privilege that can be assigned to roles lower than a manager.</p>
<p>5.0.993: Displays the Easy English Bible Commentary lots better.</p>
<p>5.0.992: Embedded libtidy fixes crash in the system-provided libtidy.</p>
<p>5.0.991: Temporal work-around for crash in the libtidy HTML/XML syntax checker and reformatter: No longer displays the Easy English Bible Commentary well.</p>
<p>5.0.990: Space below the focused verse in the verse editor now has no visible height anymore.</p>
<p>5.0.989: Fix memory leaks while getting some types of resources.</p>
<p>5.0.989: Clarify code 426 in the Journal to mean that the client should upgrade to https when connecting to the Cloud.</p>
<p>5.0.989: Can create a Translated resource based on a Bible Gateway resource.</p>
<p>5.0.988: Can set the paragraph style for the \fig marker for Bible figures.</p>
<p>5.0.988: Clearer error message when access to Google Translate has not yet been set up.</p>
<p>5.0.988: Client downloads list of comparative resources from Cloud and can select from those.</p>
<p>5.0.988: Better checking on internet address, port number, and credentials, when connecting to the Cloud.</p>
<p>5.0.987: The number prefixed to the filenames of the exported books of a Bible now depends on the book order set for that Bible.</p>
<p>5.0.987: Logs problems with the https certificate for the embedded server.</p>
<p>5.0.986: Disable autocorrect and autocapitalize for username and search entries.</p>
<p>5.0.985: Can define a "Translated resource". This translates a resource through Google Translate.</p>
<p>5.0.984: Fixed: Bible editors did not use the selected font.</p>
<p>5.0.984: Sub-pages from Settings in basic mode have a back arrow to return to the Settings.</p>
<p>5.0.984: Can select active Bible on search pages.</p>
<p>5.0.984: Removes word-level attributes in the editor preview.</p>
<p>5.0.984: Removes word-level attributes when exporting a Bible.</p>
<p>5.0.983: Provide passage for Accordance only after setup is complete.</p>
<p>5.0.982: Bibledit on macOS failed to work from the App Store. It can now be downloaded from GitHub instead.</p>
<p>5.0.981: On Android it can download exported Bibles again without crashing.</p>
<p>5.0.981: Can set from which Bibles to get the change notifications.</p>
<p>5.0.980: Can copy data from Bibledit to Paratext and vice versa.</p>
<p>5.0.980: Fixed: Bibledit for macOS did not download exported files.</p>
<p>5.0.980: Bibledit for Windows downloads exported USFM files, instead of viewing them.</p>
<p>5.0.980: Fixed: Prints only the first page of the search results.</p>
<p>5.0.980: Can read and set numeric value of color of a style in the styles editor.</p>
<p>5.0.980: The Bible editor preview scrolls to the focused verse.</p>
<p>5.0.979: Fixed: Clicking the button to create a note several times results in multiple identical notes.</p>
<p>5.0.979: Can set the date format in consultation notes.</p>
<p>5.0.979: Can set automatic note citations in export to OpenDocument.</p>
<p>5.0.979: Note citations in Bible editor follow settings in stylesheet.</p>
<p>5.0.979: Check on space before final note or cross reference markup.</p>
<p>5.0.979: Advanced search results can be limited to Old or New Testament books.</p>
<p>5.0.978: Fixed: Rich divider cannot go to website at link within workspace.</p>
<p>5.0.978: Fixed: Cannot view exported files.</p>
<p>5.0.977: Can only do zipped exports on the Cloud edition.</p>
<p>5.0.977: Better placement of cursor after pasting text in the notes editor.</p>
<p>5.0.976: Larger emails with change notificatons are split up in smaller parts.</p>
<p>5.0.972: Better handling of pasted text in the Bible editors.</p>
<p>5.0.971: The three Bible editors collapse multiple spaces into one space.</p>
<p>5.0.966: Includes the Easy English Bible Commentary as a resource.</p>
<p>5.0.966: Does not cache resources during Cloudflare DDoS protection.</p>
<p>5.0.966: Fix editable clipboard in the Bible editors.</p>
<p>5.0.965: Well-formed USFM check on note or cross reference without content.</p>
<p>5.0.964: Well-formed USFM check on opening markup followed by closing markup without text.</p>
<p>5.0.964: Fixed: Clicking a passage in a checking result goes to the beginning of the Bible.</p>
<p>5.0.964: USFM check on the \fig markup.</p>
<p>5.0.964: All editing anomaly emails now display the book and chapter.</p>
<p>5.0.963: Keep the navigation history for two weeks.</p>
<p>5.0.963: A long press on the arrows for going back and going forward brings up the history menu.</p>
<p>5.0.962: Can left-align verse numbers in poetry in exports to OpenDocument.</p>
<p>5.0.961: Better spacing while inserting footnotes and cross references.</p>
<p>5.0.959: Support for the USFM fig markup in export to html and OpenDocument.</p>
<p>5.0.956: On going to another verse the Resources page always scrolls to the top position.</p>
<p>5.0.955: The Bible settings is now the location where to set the stylesheet for export.</p>
<p>5.0.955: All emails about a merge conflict now detail the book and chapter number.</p>
<p>5.0.954: Bigger fonts for the Bible text in the merge irregularity email.</p>
<p>5.0.954: Can enable or disable automatic daily check per Bible.</p>
<p>5.0.953: Clearer links for dismissing change notifications.</p>
<p>5.0.953: Fetches web-based Bibles from new GBS website.</p>
<p>5.0.953: Ctrl-F Find works again on Windows.</p>
<p>5.0.952: Can download exported file on Windows again.</p>
<p>5.0.950: Entry of workspace width defaults to using percents, not pixels.</p>
<p>5.0.949: Passage history buttons available in basic mode.</p>
<p>5.0.946: Html export with footnotes showing on hover.</p>
<p>5.0.946: Deletes an email that caused a crash while it was being sent.</p>
<p>5.0.945: Displays better text from StudyLight.</p>
<p>5.0.943: Better book interpretation for Ctrl-G fast passage switcher.</p>
<p>5.0.942: Displays footnotes of BibleGateway resources.</p>
<p>5.0.942: A client can display and cache a comparative resource.</p>
<p>5.0.942: Navigation through Ctrl-G now supports navigation history.</p>
<p>5.0.941: Move consultation note editors from NicEdit to Quill.</p>
<p>5.0.941: Faster mechanism to retrieve bulk content from SWORD books.</p>
<p>5.0.941: Can keep the resources cache for an extended period of time.</p>
<p>5.0.941: Show password button on login page.</p>
<p>5.0.940: The chapter editor is now live-updatable and no longer does a complete text reload.</p>
<p>5.0.940: Emailer already works when it can send email only, not receive yet.</p>
<p>5.0.940: Better focus handling of the verse editor within a workspace.</p>
<p>5.0.940: Bibledit editors accept text growth always regardless of the settings for the maximum allowed change in the editors.</p>
<p>5.0.940: Updated default values for several personal preferences making things easier for new users.</p>
<p>5.0.940: Abbott-Smith's Manual Greek Lexicon was added.</p>
<p>5.0.940: A comparative resource displays the difference between two resources.</p>
<p>5.0.939: New users can click an account confirmation link received by email.</p>
<p>5.0.939: Studylight resources display again.</p>
<p>5.0.939: Rich divider with text and link and colour.</p>
<p>5.0.939: Dividers in Resources are shorter in height.</p>
<p>5.0.937: Update mbedTLS to version 2.25.</p>
<p>5.0.937: The settings for Accordance are no longer visible in basic mode.</p>
<p>5.0.937: Minor updates tailored to an Indonesian version of Bibledit Cloud.</p>
<p>5.0.937: The USFM editor can load text in corrupted encoding and save it as valid UTF-8 Unicode.</p>
<p>5.0.936: Allows a space at the end of a line in the verse editor to exist multiple seconds before the editor trims it away.</p>
<p>5.0.935: Configure the https port of embedded webserver, or disable it.</p>
<p>5.0.934: Information about connecting to a GitHub repository was updated with an example of using a personal access token.</p>
<p>5.0.934: Can check on invalid UTF-8 text in a verse.</p>
<p>5.0.934: Exporting invalid UTF-8 text gets recorded in the journal.</p>
<p>5.0.933: Transpose and fix double spaces in footnotes and cross references.</p>
<p>5.0.932: Translate standardized focused verse from Paratext to local verse mapping.</p>
<p>5.0.932: Forwards Bible from editone to editone in a workspace.</p>
<p>5.0.929: Runs on Mac M1 with arm64 processor.</p>
<p>5.0.929: Optionally coloured note status labels.</p>
<p>5.0.928: Moves notes from the non-editable prefix to the very end in the verse editor.</p>
<p>5.0.927: Updates the non-editable parts of the verse editor.</p>
<p>5.0.927: Can exchange focused verse with Accordance on macOS.</p>
<p>5.0.926: If a book is not found in a Paratext folder, Bibledit lists the \id it looked for.</p>
<p>5.0.924: Updated embedded Chromium browser in Windows client.</p>
<p>5.0.924: Fixed: Formatting error after editing cross references and footnotes.</p>
<p>5.0.923: More robust handling of user-initiated deletion of critical footnote content in verse editor.</p>
<p>5.0.921: Verse editor no longer reloads text, but updates existing text instead.</p>
<p>5.0.920: Fix: Tapping a non-focused verse focuses that verse in the verse editor.</p>
<p>5.0.919: Bibledit Windows can receive the focused passage from Paratext.</p>
<p>5.0.918: Insert footnote template without the | separator(s).</p>
<p>5.0.918: Better sorting of consultation notes order.</p>
<p>5.0.918: Slightly larger arrows for going a verse back and a verse forward.</p>
<p>5.0.917: Fixed: Pasting text into the chapter editor causes loss of focus.</p>
<p>5.0.917: The "Text reloaded" message was disabled in the chapter editor.</p>
<p>5.0.917: Fixed: Note text after a new line in a footnote disappears.</p>
<p>5.0.916: A working beta version of live updatable verse editor.</p>
<p>5.0.914: The timed "Text reloaded" messages no longer pop up in the Bible editors.</p>
<p>5.0.913: The Quill editing library was updated to version 1.3.6.</p>
<p>5.0.912: Fixed: Bad network connection causes "Text reloaded" messages in Bible editors.</p>
<p>5.0.909: Fixed: Sends email "Check whether Bible text was saved" even if the changes consist of whitespace only.</p>
<p>5.0.908: A setting for using a dot or a colon as the verse separator for Bible notes entry.</p>
<p>5.0.907: Fixed: Chapter poller timing caused the "Text reloaded" message to appear at a chapter switch.</p>
<p>5.0.905: When navigating to another chapter the Bible editor no longer displays "Text reloaded".</p>
<p>5.0.904: Inserting a cross reference in the verse and chapter editors no longer adds a keyword.</p>
<p>5.0.904: Send/receive on a client no longer removes a space from new footnotes.</p>
<p>5.0.903: If a Bible editor has focus, and its text is reloaded, it will be read-only for some seconds.</p>
<p>5.0.903: If a Bible editor has focus, it shows a notification when the text is reloaded.</p>
<p>5.0.903: Entering a cross reference adds the reference, the keyword, and the cross reference text.</p>
<p>5.0.903: Entering a footnote adds the reference, the keyword, and the footnote text.</p>
<p>5.0.902: The merge anomaly email contains the passage.</p>
<p>5.0.901: Better layout of the merge anomaly email.</p>
<p>5.0.899: Fixed: Displays an alert about "text reloaded" while saving text in the verse editor.</p>
<p>5.0.898: Type Ctrl-G to enter the passage to focus through the keyboard.</p>
<p>5.0.897: The USFM editor positions the editing cursor after going to another chapter and verse.</p>
<p>5.0.894: AppStream data was added to the Linux client.</p>
<p>5.0.894: Fixed: Second USFM editor in a workspace does not move the focused verse into view.</p>
<p>5.0.893: Fixed: Focused verse in USFM editor jumps to next verse if there's a space at the end of the verse text.</p>
<p>5.0.893: The chapter editor honours the setting for the initial vertical position of the cursor.</p>
<p>5.0.892: Fixed: The second Bible editor at times was not read-only leading to unexpected caret jumps.</p>
<p>5.0.891: A translator can now edit the summary of a consultation note.</p>
<p>5.0.890: Setting to automatically assign a new consultation note to certain users.</p>
<p>5.0.889: When failing to send emails due to a login denied, remaining emails are not sent off.</p>
<p>5.0.888: Fix applying "vp" style in Bible editors.</p>
<p>5.0.887: Fixes BibleGateway resources display.</p>
<p>5.0.886: Puts a space between the note caller and the cross reference text following it in OpenDocument.</p>
<p>5.0.878: Cloud removes files older than 2 hours from file-based cache.</p>
<p>5.0.867: Can clear unsent emails.</p>
<p>5.0.823: Fixed: Pasting text in a footnote leads to a repeating \ft.</p>
<p>5.0.820: Clicking on a note at the bottom of the verse editor no longer focuses verse 0.</p>
<p>5.0.816: The Windows version is now built through Visual Studio 2019.</p>
<p>5.0.813: Only one Bible editor can be editable in a workspace.</p>
<p>5.0.812: The Bible editors given an alert on text reload preventing typing.</p>
<p>5.0.811: Fix broken filesystem on Android that led to instability of Bible editors.</p>
<p>5.0.809: While saving the verse editor merges its own text with what's already stored.</p>
<p>5.0.808: If a Bible editor saves text, and the text on disk differs from what the editor loaded, an email will be sent to the user.</p>
<p>5.0.807: If a Bible editor saves text, and it loaded less than two seconds ago, there's an alert.</p>
<p>5.0.807: If a Bible editor loads text, and it saved less than two seconds ago, there's an alert.</p>
<p>5.0.806: Update mbedTLS to 2.16.3.</p>
<p>5.0.805: Fixed: After syncing with Paratext, it may send data to the Cloud even if not changed.</p>
<p>5.0.804: Handle non-breaking space after chapter numbers in Paratext files.</p>
<p>5.0.803: Provide information to make people think twice before disconnecting from the Cloud.</p>
<p>5.0.802: The client can no longer send and receive Bibles every 20 seconds.</p>
<p>5.0.795: Fixed: Link to font uploader.</p>
<p>5.0.792: Fixed: Difficult to click link to add comment to note in workspace on Android.</p>
<p>5.0.791: Export to OpenDocument no longer has an extra space after the \vp markup.</p>
<p>5.0.790: Emails user about any Bibledit - Paratext merge anomalies.</p>
<p>5.0.790: More robust Bibledit - Paratext merging.</p>
<p>5.0.789: Properly handles the \vp published verse marker.</p>
<p>5.0.787: Exports bold Asian and complex scripts to OpenDocument properly.</p>
<p>5.0.786: A crash during public feedback was fixed</p>
<p>5.0.782: Fixed on Android: Error clear text not permitted</p>
<p>5.0.781: Web export can display a link for giving feedback by email.</p>
<p>5.0.780: Bible export to Web format has quick navigators for going to the previous and the next chapter.</p>
<p>5.0.777: Gives information about how to copy a stylesheet.</p>
<p>5.0.778: Can disable the text selection pop-up on Chrome OS.</p>
<p>5.0.777: Can move link to sort the change notifications to the top.</p>
<p>5.0.774: Can go to the passage of a change notification as soon as one has loaded.</p>
<p>5.0.772: Can sort the change notifications on author.</p>
<p>5.0.771: Android: Hides soft keyboard on tab switch.</p>
<p>5.0.770: Updated warnings in case of a delayed send/receive action.</p>
<p>5.0.765: The client can send and receive Bibles every 20 seconds.</p>
<p>5.0.761: Fixed: The author of a consultation note cannot edit the note content.</p>
<p>5.0.759: Fixed: Translator cannot change stylesheet.</p>
<p>5.0.758: Fixed: Client with member role cannot disconnect from the Cloud.</p>
<p>5.0.756: Links to an external multi Bible converter.</p>
<p>5.0.754: Fixed: Fails to display certain decomposed Hebrew characters on Linux.</p>
<p>5.0.753: Check on well formed embedded markers.</p>
<p>5.0.752: Updated typesetting information.</p>
<p>5.0.735: Hides email servers password.</p>
<p>5.0.728: Fixed: Suppresses NET Bible Warning Message.</p>
<p>5.0.699: Fixed: Escapes special XML characters in export to OpenDocument.</p>
<p>5.0.685: Translators can set the status of consultation notes.</p>
<p>5.0.684: Localized file names of Bible exports.</p>
<p>5.0.626: Localized Bible web export.</p>
<p>5.0.626: Exports footnotes and cross references to QuickBible .yet file.</p>
<p>5.0.622: Better hyperlinks in night mode.</p>
<p>5.0.622: Information about typesetting in Scribus.</p>
<p>5.0.588: Cloud send mail when client send Bible text while it has no write access.</p>
<p>5.0.583: Merge email: Now has spaces between the added and removed bits.</p>
<p>5.0.566: Remove YetToYes2.jar because of security reasons and reducing feature bloat.</p>
<p>5.0.566: Use whitespace and bold for more readable notes discussions.</p>
<p>5.0.565: Managers and administrators receive email when a new user signs up.</p>
<p>5.0.561: Upon connection to the Cloud, a client emails changes made in Bibles while it was disconnected from the Cloud.</p>
<p>5.0.554: Set the font name for export to OpenDocument.</p>
<p>5.0.554: The exported Bibles are accessible from one menu entry, rather than from two.</p>
<p>5.0.554: Clearer git repository status on git repository setup.</p>
<p>5.0.551: Clarify limited scope of typesetting capabilities.</p>
<p>5.0.535: Can show focused verse text during note creation.</p>
<p>5.0.534: Swipe Resources into another order.</p>
<p>5.0.518: Translators can export Bibles.</p>
<p>5.0.518: More robust consultation notes verse focusing.</p>
<p>5.0.517: Fix tool tips in the main menu.</p>
<p>5.0.517: Open Scriptures Hebrew Bible updated to version 1.4.</p>
<p>5.0.455: Secure transport layer update.</p>
<p>5.0.442: Removes USFM word level attributes from the visual exports.</p>
<p>5.0.439: Upon opening, the USFM editor scrolls the text cursor into view.</p>
<p>5.0.436: Improved plain text extraction from comments sent by email.</p>
<p>5.0.434: The Bible editors support the five special XML characters.</p>
<p>5.0.431: The Android app was updated to run on Chrome OS as well.</p>
<p>5.0.426: Fixed: OpenDocument export on Windows failed.</p>
<p>5.0.419: A translator can do some bulk operations on consultation notes.</p>
<p>5.0.418: Can display the Bible selector for the change notifications at the top.</p>
<p>5.0.415: Additional standard orders for the Bible books.</p>
<p>5.0.412: The OpenDocument export respects the custom order of books.</p>
<p>5.0.410: The notes display can show the note status.</p>
<p>5.0.408: Disable style setting for spanning columns.</p>
<p>5.0.407: Updated Open Scriptures Hebrew Bible.</p>
<p>5.0.406: Better defaults for footnotes formatting.</p>
<p>5.0.406: Improved check on French guillemets.</p>
<p>5.0.405: Can set the stylesheet per Bible.</p>
<p>5.0.403: Better internationalization of the Bible book names.</p>
<p>5.0.403: Support comments in .po files.</p>
<p>5.0.401: Improved stylesheet translation.</p>
<p>5.0.396: More natural order of the books in the exports.</p>
<p>5.0.380: Organize the change notification by Bible.</p>
<p>5.0.373: The list of consultation notes can display the Bible a note refers to.</p>
<p>5.0.372: Most emails about consultation notes include the name of the Bible in the subject line.</p>
<p>5.0.371: Checks on narrow non-breaking spaces at French punctuation.</p>
<p>5.0.371: Improved formatting of USFM closing markers.</p>
<p>5.0.370: Clears tens of thousands of change notifications easily.</p>
<p>5.0.366: Check on multiple « in French citation style.</p>
<p>5.0.364: Does not import XML files into a Bible.</p>
<p>5.0.363: Imports books with id INT.</p>
<p>5.0.363: The default style for markers va and vp is in superscript.</p>
<p>5.0.360: A USFM chapter label \cl in the text switches off drop caps output.</p>
<p>5.0.357: No longer notifies users about updated versions.</p>
<p>5.0.353: Select the type of space to add after a verse number in the Bible exports.</p>
<p>5.0.349: Fixed: Windows port does not create the sample Bible.</p>
<p>5.0.345: Fixed: RSS dates are one month ahead.</p>
<p>5.0.342: Fixed: Resources not showing properly.</p>
<p>5.0.339: Fixed: A consultant cannot see the translation in basic mode.</p>
<p>5.0.338: Gradually convert consultation notes to the new storage format.</p>
<p>5.0.330: Larger tabs on Android in basic mode.</p>
<p>5.0.308: Checks on the presence of the \toc[1-3] markers.</p>
<p>5.0.293: The tool to transfer cross references was removed as too complex.</p>
<p>5.0.292: Remove deprecated visual editors.</p>
<p>5.0.286: Improved installation documentation on Ubuntu.</p>
<p>5.0.286: Improved stability of downloading transfer tarballs.</p>
<p>5.0.286: On Linux it opens the Download folder after downloading a file, instead of opening that file.</p>
<p>5.0.282: Setting per Bible whether it sends the changes to the RSS feed.</p>
<p>5.0.279: On Chrome OS it can handle more notes before it fails to start up.</p>
<p>5.0.278: Fixed: On Windows the window can become too small to be visible.</p>
<p>5.0.274: Client also exports one installed resource per tarball.</p>
<p>5.0.272: Client no longer caches resources while the Cloud is being upgraded.</p>
<p>5.0.271: Loads all change notifications despite shaky network connection.</p>
<p>5.0.268: 'Please wait' feedback when first connecting to the Cloud.</p>
<p>5.0.236: Splits large emails with change notifications up into parts.</p>
<p>5.0.233: Better notes placement in tool for transferring notes.</p>
<p>5.0.233: Information about how to restore a Bible to an earlier stage via a git repository.</p>
<p>5.0.233: Feedback and progress during linking to a git repository.</p>
<p>5.0.233: The setup is now "updating" instead of "installing".</p>
<p>5.0.232: Tabbed mode is the default setting on relevant devices.</p>
<p>5.0.232: More practical order of the tabs in tabbed mode.</p>
<p>5.0.232: Fixed: Confusing Preferences > Maximum difference categories.</p>
<p>5.0.232: Displays an unlimited amount of change notifications at once.</p>
<p>5.0.228: The Cloud gives a warning when the emailer has not yet been set up.</p>
<p>5.0.226: Bible editors save changes after one second rather than after five.</p>
<p>5.0.225: Fixed: The setting for tabbed mode was visible in advanced mode.</p>
<p>5.0.225: Fixed: The screen with change notifications stays blank for longer than expected on low power devices.</p>
<p>5.0.220: Fixed: Android: Cannot return to the settings page when user navigated away.</p>
<p>5.0.206: Setting whether to send only, or send to and receive from git repository.</p>
<p>5.0.201: Can mail the sprint planning of a different month than the current one.</p>
<p>5.0.201: Mailed sprint planning includes the month.</p>
<p>5.0.201: Fixed: USFM chapter editor page unload fails to save unsaved text.</p>
<p>5.0.200: Debian and Ubuntu packages for Bibledit Cloud.</p>
<p>5.0.199: Fixed: Phillips NT won't display everywhere.</p>
<p>5.0.186: Check that JavaScript is enabled in the browser.</p>
<p>Cloud shell wrapper no longer can start multiple Cloud instances.</p>
<p>Check for no-break space at French punctuation.</p>
<p>Localized stylesheets.</p>
<p>Export the entire Bible to a single OpenDocument file.</p>
<p>Fixed: The iOS app has a blank screen right after app install.</p>
<p>Can enable a control for quickly editing the content of a consultation note.</p>
<p>Fixed: Menu Settings / Accounts was visible in disconnected client.</p>
<p>Tabbed view in Android and iOS app.</p>
<p>The USFM verse editor was removed.</p>
<p>Cmd-G: Search next in macOS app.</p>
<p>Offline transfer of consultation notes from one client to another.</p>
<p>Clients can create OpenDocument files.</p>
<p>The caret in the visual verse editor no longer jumps to the start of the verse on verse reload.</p>
<p>Can grant privilege to users to be able to delete consultation notes.</p>
<p>Fixed: User can remove all passages from a consultation note.</p>
<p>Can put the controls for dismissing change notifications at the top of the page.</p>
<p>Shows the number of your changes, plus the number of changes of the whole team.</p>
<p>Offline transfer of Bibles and resources from one client to another.</p>
<p>The resource viewer scrolls to the same position it had at the last page display.</p>
<p>The Bible editors no longer give a warning when the user has not sent to and received from the Cloud for a while.</p>
<p>Client cannot install an embedded resource.</p>
<p>Client keeps Bible books it created before connecting to the Cloud.</p>
<p>Client opens external website in the system browser.</p>
<p>File upload and download in the macOS app.</p>
<p>File upload and download in the Windows app.</p>
<p>Improved search and replace in texts with notes.</p>
<p>Improved parsing of emailed responses to consultation notes.</p>
<p>Localized output of the mechanical checks.</p>
<p>Ctrl/Cmd-F searches the interface.</p>
<p>User privilege whether to use advanced mode in the Cloud.</p>
<p>Fixed: Inaccurate focused verse when typing at the end of a verse in the USFM chapter editor.</p>
<p>Fixed: Logout link in client app.</p>
<p>Logs the browser's user agent.</p>
<p>The preferences for the Bible editors apply to the fast editor switcher only.</p>
<p>The menu in advanced mode always shows all four Bible editors.</p>
<p>Handle file download and print in Linux.</p>
<p>Fast styles cache.</p>
<p>The RSS feed includes the author in the description field also.</p>
<p>Setting on whether to include the authors in the RSS feed.</p>
<p>Workspaces in Edge fill the available space.</p>
<p>Partial support for \ca ...\ca* in USFM 3.</p>
<p>Version bump to 5.1 to make it higher than version 4.9 now in Debian and derivatives.</p>
<p>Improved support for USFM 3.0.</p>
<p>A client lists selected resources first in the resource settings.</p>
<p>Bibledit for Linux has a launcher.</p>
<p>Bibledit for Linux remembers window state.</p>
<p>Bibledit for Android can be installed on the SD card.</p>
<p>Flags a space at the end of a verse.</p>
<p>Fixed: Moving journal link on send/receive page.</p>
<p>Fixed: Linux app cannot undo and redo.</p>
<p>RSS feed contains date and time stamp.</p>
<p>Embedded styles work in the new visual editors.</p>
<p>Bibledit Linux has an integrated browser.</p>
<p>Hover over a link in a lexicon to see the definition.</p>
<p>Fixed: Cannot apply style to a partially selected word in the new visual editors on touch screens.</p>
<p>Additional versification systems.</p>
<p>Cannot apply a character style to a verse number.</p>
<p>Fixed: Clicking in poetry at times goes to verse 0.</p>
<p>Fixed: Clicking a note adds duplicate passage history.</p>
<p>More context sensitive paragraph capital and punctuation check.</p>
<p>The mechanical checks take better notice of the allowed punctuation.</p>
<p>Fixed: Crash on saving Hebrew in the visual verse editors.</p>
<p>Paste plain text in the new visual editors.</p>
<p>Gives feedback on operations on the workspaces.</p>
<p>Cannot remove the verse number in the visual verse editor.</p>
<p>New improved visual verse editor.</p>
<p>Improved network error reporting on Windows.</p>
<p>Improved indentation of the editable verse in the visual verse editor.</p>
<p>Clearer labels for left align and for right align.</p>
<p>The p style is left aligned by default rather than justified.</p>
<p>RSS feed for changes in the Bible texts.</p>
<p>Detect and mitigate brute force attacks.</p>
<p>Displays resources from BibleGateway.</p>
<p>Easier consistency check.</p>
<p>Safer limits on the cache size in the Cloud.</p>
<p>Static chapter preview pane.</p>
<p>Alt keybindings now work well in Firefox.</p>
<p>New visual chapter editor.</p>
<p>The embedded web view resizes when the main window gets resized in the macOS app.</p>
<p>Fixed: Client did not use installed SWORD resources.</p>
<p>Image resources spanning multiple verses do not reload.</p>
<p>Better caret positioning in the visual verse editor.</p>
<p>Webserver on Windows handles requests in parallel rather than in sequence.</p>
<p>USFM \b now works correctly in the visual verse editor.</p>
<p>The page for send and receive displays the status.</p>
<p>All Bible editors save much faster.</p>
<p>Fixed: Cloud may enter nearly infinite SWORD module installation loop.</p>
<p>Fixed: Client failed to cancel the last resource it was installing locally.</p>
<p>The Cloud no longer installs a SWORD module that is already installed.</p>
<p>Crashes in the SWORD library no longer take the whole Cloud instance down.</p>
<p>Statistics of the number of changes per day per user.</p>
<p>Menu item Personalize was renamed to Preferences.</p>
<p>Disable and enable user account.</p>
<p>Can query an external OpenLDAP server for authentication.</p>
<p>Any user with any role can change the language on a client.</p>
<p>Can enable menu item for Changes in basic mode.</p>
<p>In basic mode the main menu is visible by default.</p>
<p>Members and consultants and translators run in basic mode after first login.</p>
<p>The emails about updated software contains information about how to install it.</p>
<p>Selecting a passage immediately hides any open workspace menu rather than allowing it to slowly fade it out.</p>
<p>The menu for the USFM chapter editor always remains in view.</p>
<p>Support for IPv6.</p>
<p>Embedded SQLite library, no longer an external dependency.</p>
<p>Downloads notes in bulk for faster download.</p>
<p>The Windows port is now native and no longer uses Cygwin.</p>
<p>Fixed: Connection to the embedded webserver could fail in case of no network connection.</p>
<p>Keyboard shortcut Ctrl-\ to cycle through the available Bible editors.</p>
<p>The settings for the permitted change in the Bible editors adapt to the enabled editors.</p>
<p>Setting for whether to display the styles button in the visual Bible editors.</p>
<p>The menu labels for the editors adapt themselves to the available active Bible editors.</p>
<p>The visual verse editor has a preview of the chapter.</p>
<p>The controls of the visual verse editor are always at the top of the window.</p>
<p>The visual verse editor puts all non-editable notes at the bottom of the chapter.</p>
<p>The user can configure the active Bible editors.</p>
<p>The Bible editor in basic mode is now the visual verse editor.</p>
<p>Swipe a change notification to the right to expand it.</p>
<p>Fixed: Swipe operations no longer worked on touch screens.</p>
<p>The email about the merge irregularity clarifies the difference between what a client sent and what the Cloud now has.</p>
<p>The email about a merge irregularity indicates the chapter and book.</p>
<p>Checks on matching pairs.</p>
<p>Clearer information about the checks.</p>
<p>Fixed: USFM verse editor says "Don't know where to save" when switching to it within a workspace.</p>
<p>Fixed: USFM chapter editor says "Nothing to save" when switching to it within a workspace.</p>
<p>The visual chapter editor's menu always remains in view.</p>
<p>When a client does not get confirmation of Bible data it sent, it will resend it.</p>
<p>The Cloud confirms successful receipt of a Bible chapter.</p>
<p>Reordering books now works on touch screens.</p>
<p>Can paste text in an empty verse in the verse editor without the protection for maximum allowed difference kicking in.</p>
<p>Can dismiss matching change notifications for all users.</p>
<p>Resources can display related passages.</p>
<p>The caret position pointer was removed from the USFM chapter editor.</p>
<p>When Bible data sent by a client is merged with Bible data in the Cloud, a mail will be sent to the user with the details.</p>
<p>Email message when saving Bible text fails due to too many changes.</p>
<p>Warning when it has not received Bible data from the Cloud for some time.</p>
<p>Warning when pending changes in the Bible have not yet been sent to the Cloud for some time.</p>
<p>The Cloud logs all data from Bible updates received from clients and how it was merged into the Bible.</p>
<p>More specific emails about merge failures.</p>
<p>Improved merging of Bible texts.</p>
<p>If there's many change notifications, they expire sooner.</p>
<p>Clearer explanation of clearing the change notifications.</p>
<p>Simplified git repository linking.</p>
<p>The journal displays the date for an entry.</p>
<p>No longer reads Bible data from the git repository by default.</p>
<p>Fetching resources in series instead of in parallel, for better response on Android and iOS.</p>
<p>Cloud can notify users about software updates.</p>
<p>Suppress Gtk warnings on Linux.</p>
<p>Fast Bible editor switching.</p>
<p>Unicode support for export to e-Sword.</p>
<p>Morphology for Open Scriptures Hebrew Bible.</p>
<p>It is now easier to edit empty verses in the visual verse editor and in the visual chapter editor.</p>
<p>Fixed: Caret jumping in visual chapter editor.</p>
<p>Better automatic detection of the user-facing URL of a Cloud instance.</p>
<p>Can paste the search results straight into the passages of the consistency tool.</p>
<p>Fixed: Cannot add resources to the consistency tool.</p>
<p>Removes underscores from the name of new or copied Bibles.</p>
<p>On expansion of a change notification it displays the date that change was made.</p>
<p>Description of the six ways in which Bibledit records and displays changes in the Bible texts.</p>
<p>The nightly exports have only one record in the journal rather than many records.</p>
<p>Synchronizing with Paratext logs the changes in the journal.</p>
<p>Client mails Bible save irregularity to the user via the Cloud.</p>
<p>Client deletes only one Bible book or chapter during any sync operation.</p>
<p>Better checking on cookies.</p>
<p>Personal setting for disabling swipe navigation actions.</p>
<p>Fast resource installation on clients.</p>
<p>Fixed: Cannot login in basic mode.</p>
<p>Fixed: Applying character markup to two adjacent word removes space between them.</p>
<p>The Cloud logs changes in the Bible text in the journal.</p>
<p>Can expand long entries in the journal.</p>
<p>When the Cloud detects an irregularity while saving Bible data, it emails the user who caused it.</p>
<p>More robust internal volatile database.</p>
<p>Fixed: Setting write access for whole Testaments didn't update the privileges for the clients.</p>
<p>Fixed: Failure to import USFM Bible text from ZIP file.</p>
<p>Translators can now create and edit stylesheets.</p>
<p>The Chrome OS port automatically opens the system browser to display the app's interface.</p>
<p>Fixed: Cannot edit workspaces on Android and iOS.</p>
<p>Fixed: Cannot set font size for the menu.</p>
<p>Fixed: Server uninstalls a SWORD module too soon.</p>
<p>Fixed: Notification "Retrying" without reason in visual verse editor.</p>
<p>Fixed: Caret jumps between editors.</p>
<p>Fast Bible copy.</p>
<p>After editing a stylesheet the user can straightaway select it without having to go via the menu.</p>
<p>Can remove change notifications per user in bulk on clients.</p>
<p>Cannot remove the last administrator.</p>
<p>Cannot remove the last user.</p>
<p>Fixed: Android app often crashed when offline.</p>
<p>Updating the sprint planning no longer causes the page to scroll.</p>
<p>Fixed: "Connection refused" messages on Android.</p>
<p>The » after the verse disappears from the navigator upon reaching the end of the chapter.</p>
<p>Create and display user-defined resources.</p>
<p>Delete task from sprint planning.</p>
<p>The Cloud tracks sessions through cookies.</p>
<p>The Cloud sends emails immediately.</p>
<p>The top of the summary of an expanded change notifications scrolls to the top of the viewport.</p>
<p>Can install all displaying resources at once.</p>
<p>Admin setting to enforce secure communications for Bibledit clients.</p>
<p>Clients can communicate securely with the Cloud.</p>
<p>Admin setting to enforce secure communications for web browsers.</p>
<p>Secure (https) web server.</p>
<p>Fixed: Only a Manager can install resources on a client.</p>
<p>Manual configuration of user-facing URL in a configuration file.</p>
<p>On Chrome OS it can now be operated from the Chrome browser for improved convenience.</p>
<p>Set the author of a git commit to the user who generated the change.</p>
<p>Improved layout and visual styling.</p>
<p>Can Logout in basic mode.</p>
<p>The personalization settings depend on the role and privileges of the user.</p>
<p>Open Scriptures Hebrew Bible was updated to version 4.20 of the Westminster Leningrad Codex.</p>
<p>On Android and iOS it keeps the screen awake during send and receive.</p>
<p>Fixed: Spurious editor message saying it does not know where to save.</p>
<p>Can give write access to all books of a certain Testament in one go.</p>
<p>When there's no more verses to go to, the verse navigation buttons are inactive.</p>
<p>Improved transfer of change notifications to the clients.</p>
<p>Clearer filter for gbsdigitaal.nl</p>
<p>Creating a Bible removes the Sample Bible if it was there.</p>
<p>Creates a sample Bible much faster.</p>
<p>A manager or administrator can login on behalf of another user.</p>
<p>The username is visible in the Settings menu.</p>
<p>Fixed: Anyone signing up for Bibledit Cloud can view a Bible that is made viewable by all users.</p>
<p>Users can have privileges to access certain things above their role.</p>
<p>Any user with write privileges for Bible books can replace text in the Bible books.</p>
<p>Any user with read privileges for Bible books can search in the Bible books.</p>
<p>Any user can now have read or write privileges for Bible books.</p>
<p>New Bible access privileges storage mechanism.</p>
<p>The nightly indexing of the change notifications no longer builds the index from scratch.</p>
<p>On a public demo, web crawlers no longer import resources into Bibles at will.</p>
<p>Improved readability of the list of consultation notes.</p>
<p>The email with a consultation notification now has a link to go to the active workspace in the Cloud.</p>
<p>Viewing a note now also shows the passage navigator.</p>
<p>Fixed: The visual chapter editor continually kept scrolling the caret into view.</p>
<p>Fixed: The "Reformat" message in the visual chapter editor appears as a popup.</p>
<p>Notes by default select all notes within the current chapter.</p>
<p>Fixed: After clearing the journal, the page slowly scrolls half of the word "Menu" out of view.</p>
<p>Exported Bibles in html are now mobile-friendly.</p>
<p>A client never displays menu Settings / Collaboration.</p>
<p>Fixed: Clear journal on mobile device, switch screen off, switch screen on: the logbook gets cleared again.</p>
<p>Fixed: Caret jumps to unexpected locations in the USFM chapter editor.</p>
<p>Faster installation on mobile devices.</p>
<p>More informative installation phase.</p>
<p>Sending a workspace to all users does not work on a client, so the interface was updated to match that.</p>
<p>Fixed: Network error while updating available SWORD modules results in erasing the existing list of modules.</p>
<p>The Linux installer no longer runs 'su' on Ubuntu.</p>
<p>Fixed: After switching to another Bible in the public feedback, the previous Bible remains active.</p>
<p>Fixed: The public feedback always opens the first Bible.</p>
<p>Fixed: Consecutive spaces in the visual verse editor become visual non-breaking spaces.</p>
<p>Fixed: Restarting resource installation on a client takes a very long time.</p>
<p>Client can erase but not update the former USFM and offline resources.</p>
<p>A client downloading or erasing a resource erases its older storage location.</p>
<p>Clients can install USFM resources from the Cloud.</p>
<p>When a client does not find a USFM resource locally, it will now download it from the Cloud.</p>
<p>Clients no longer automatically download USFM and offline resources from the Cloud.</p>
<p>Setting notifications no longer scrolls the page to the top.</p>
<p>The four Bible text editors make save errors more obvious.</p>
<p>The change notifications online can display how many changes each user made.</p>
<p>Translators and higher roles can toggle the public visibility of a consultation note.</p>
<p>The tool tips in the main menu items show the sub menus.</p>
<p>Sorts the items in menu Tools and menu Settings.</p>
<p>Clearer menu layout.</p>
<p>Personal setting for keeping the main menu visible.</p>
<p>Fixed: Moving task from a completed sprint to the new sprint results in inconsistent interface state.</p>
<p>Fixed: Search engine crawlers kept adding resources to view on a public Bibledit demo.</p>
<p>Fixed: The Mac and Android port keep scrolling the caret into view preventing manual scroll of the visual chapter editor.</p>
<p>Swiping left / right goes to the next / previous chapter in the Bible chapter text editors.</p>
<p>Swiping left / right goes to the next / previous verse in the resources viewer and the Bible verse text editors.</p>
<p>Swipe a change notification away to delete it.</p>
<p>Tap and hold a change notification to expand or collapse it.</p>
<p>Fixed: The visual verse editor does not show the first paragraph format in the editable verse.</p>
<p>No mass updates on the notes in basic mode.</p>
<p>No bread crumbs in basic mode.</p>
<p>CSS3 media queries to better adapt to portrait and landscape orientation of mobile devices.</p>
<p>The exports menu is only displayed when someone is logged in.</p>
<p>The login and account pages are better suited to mobile touch devices.</p>
<p>Draggable lists improved look and consistency.</p>
<p>Personalization setting for maximum allowed percentage of changes in the Bible editors.</p>
<p>Easier entry of verse text in an empty verse through the USFM verse editor.</p>
<p>The progress bar keeps going during the initialization phase even if it takes long.</p>
<p>The consultation notes are sorted on passage.</p>
<p>Personalize the delay for fading out de workspace menu.</p>
<p>When the active workspace is deleted, it activates the first available workspace, rather than the default one.</p>
<p>Server prioritizes synchronizing Bibles, consultation notes, setting, and change notifications per client IP address.</p>
<p>Client prioritizes synchronizing Bibles, consultation notes, settings, and change notifications.</p>
<p>Can drag resources into another order on touch-enabled devices.</p>
<p>The visual verse editor no longer shows combined verses twice.</p>
<p>The back arrow in simple webviews is now a link for greater clarity as to what it is for.</p>
<p>Fixed: Unassign a user from note on a client: The Cloud assigns the user again.</p>
<p>Deals with SWORD Bibles and commentaries, leaving out other types of modules.</p>
<p>Installs requested SWORD modules one by one rather than all of them at once.</p>
<p>Cloud version depends on the SWORD library.</p>
<p>Better layout of the King James Bible lexicon.</p>
<p>Localized Bible book names.</p>
<p>The font setting is also applied to the non-editable portion of the visual verse editor.</p>
<p>Fixed: A fresh installation of Bibledit on Android takes so long that the progress bar goes past 100%.</p>
<p>If zip and unzip are not found, it refers to the Cloud for Bible export to OpenDocument.</p>
<p>Can copy a workspace to all other users.</p>
<p>Unified resource selector for consistency tool and resource printing.</p>
<p>The context of the mechanical checks respects the word boundaries.</p>
<p>Import Web resource or SWORD module into a Bible.</p>
<p>Separately check on correct number of books in a Bible, and on correct number of chapters and verses in existing books in a Bible.</p>
<p>Selecting web resources via categories "Original language texts", "Bibles", and "Commentaries".</p>
<p>Fixed: Cannot install SWORD resources on client.</p>
<p>Based on demand, automatically installs or uninstalls SWORD modules: Can no longer be done manually.</p>
<p>Alphabetical sort of the external resources.</p>
<p>If a client is not yet connected to a Cloud, it fetches resources from the Bibledit Cloud demo at bibledit.org.</p>
<p>Client can manually install a resource. It no longer does that automatically.</p>
<p>Fixed: The resource cache was damaged and has been reset: name.sqlite.sqlite.</p>
<p>Caches fetched raw web content for faster display of many external resources.</p>
<p>When the resources have context, the verses are marked with verse numbers for clarity.</p>
<p>When a resource maps to another verse, the resources displays the mapped verse number.</p>
<p>The changes notifications also notify of changes in formatting only, without changes in the actual text.</p>
<p>Fixed: No punctuation at end of verse: ?</p>
<p>Clearer wording of settings for sentence structure.</p>
<p>Displays breadcrumbs.</p>
<p>Can set the background color for styles that support font color.</p>
<p>Can set font size for the Bible editors.</p>
<p>Can set font size for the resources.</p>
<p>The workspace settings have pop-up help.</p>
<p>Copy a workspace to a new one.</p>
<p>The workspace organizer informs the user that loading the samples overwrites the current workspace.</p>
<p>Automatically creates default workspaces if a user has none.</p>
<p>In the workspace settings, the user can create all default workspaces.</p>
<p>Searches in footnotes also (re-index Bibles for this to work).</p>
<p>Manually indexing Bibles forces their indexes to be rebuilt from scratch.</p>
<p>Fixed: Crash when saving malformed USFM.</p>
<p>Bibles and Consultation Notes indexers complete their tasks even through multiple device reboots.</p>
<p>On Android, all lexicons work.</p>
<p>The visual chapter editor highlights a verse with combined verse numbers.</p>
<p>Fixed: Doing a search/replace in combined verses results in a growing chapter with the combined verse repeating.</p>
<p>The Bible search index is now stored in plain text files rather than in a database.</p>
<p>No longer depends on the ICU Unicode library.</p>
<p>No longer depends on the XML2 library.</p>
<p>Fixed: The exported Bibles cannot be publicly seen because Bibledit then asks to login.</p>
<p>Fixed: Consultation notes bulk updater.</p>
<p>Client deletes a limited amount of notes in one go, even if it thinks the server has deleted more of them.</p>
<p>The editor properly deals with \add and \xt, and similar, in footnotes.</p>
<p>Anyone can give public feedback on a Bible.</p>
<p>When a user is not logged in, it displays a Login menu item, rather than forwarding to the Login page.</p>
<p>Fixed: When user A on a client assigns a note to user B, then it ends up being assigned to user A instead of to B.</p>
<p>Before installing a SWORD module, the Cloud checks whether the module exists.</p>
<p>Disable App Transport Security in iOS 9 and OSX 10.11 El Capitan.</p>
<p>Fixed: When going to the visual editor, at times it shifts to verse 0 on its own.</p>
<p>The email with the checking results provides a link to the online results.</p>
<p>Linux installer script fetches the tarball with the highest version number.</p>
<p>Clearer order of the items of the morphology of the ETCBC4 Hebrew database, <a href="/help/licenses">see the license section for the sources</a>.</p>
<p>Menu reorganisation for easier operation by touch.</p>
<p>Home page offers link for opening last used workspace.</p>
<p>It sets an initial selection of resources.</p>
<p>Open Scripures Hebrew Lexicon displays the ketiv and the qere and has better word spacing.</p>
<p>Fixed: Missing bits from the KJV lexicon.</p>
<p>Can personalize the vertical scrolling position of the caret in the Bible editors.</p>
<p>No index on search database: Saving will be faster on low power devices.</p>
<p>User can set the relative font size of Hebrew and Greek resources.</p>
<p>Unmatched \f and \add markers in the visual editor are dealt with properly.</p>
<p>The demo displays an interesting workspace with selection of resources to the visitor.</p>
<p>Uses Hebrew font or Greek font in the original languages search.</p>
<p>Fixed: Visual editor at times trembles after focusing another verse.</p>
<p>Fixed: Applying style \add in the visual editor reloads the text in the editor.</p>
<p>Client links to the Cloud for more Bible operations.</p>
<p>Displays SWORD resources.</p>
<p>Setup progress bar.</p>
<p>Fixed: Unknown ID: \ide UTF-8</p>
<p>Splash screen says: "What would you like to do?"</p>
<p>Splash screen on startup.</p>
<p>Searching all Bibles and notes moved from the menu bar to the search pages.</p>
<p>List of books for giving read/write access to users is divided into four columns.</p>
<p>The Users page no longer limits the displayed users based on shared access to Bibles.</p>
<p>The Bible for which a book was created, or into which text was imported, becomes a user's default Bible.</p>
<p>Before linking a resource to the central cache, it checks whether the resource is available from that cache.</p>
<p>The Hebrew resources follow the Hebrew and Greek versification system.</p>
<p>Coloured bars can be inserted into the Resources as dividers.</p>
<p>The \ide has moved from the fallout document to the info document on export.</p>
<p>Fixed: When a client unsubscribes from a note from a change notification, it does not update the Cloud, so a sync action reverses the unsubscribe action.</p>
<p>All commentaries from studylight.org are available as external resources.</p>
<p>Fixed: In a workspace and shifting from viewing a NT-only project to viewing a full Bible project, Bibledit will not give the updated full table of books for the full Bible project.</p>
<p>A client does not run the nightly exports.</p>
<p>User is logged out after one year of inactivity.</p>
<p>Can dismiss entire categories of change notifications.</p>
<p>Users can opt in for receiving online change notifications of the individual contributors.</p>
<p>The page for the change notifications is clearer.</p>
<p>The "\v n" and the "\c n" in the USFM verse editor are now read-only.</p>
<p>Note callers are no longer blue and underlined.</p>
<p>Consultation note content edited on the client is sent to the Cloud also.</p>
<p>An author can edit his or her own part of the content of a consultation note.</p>
<p>Can import plain Bible text.</p>
<p>No longer imports text from BibleWorks because BibleWorks no longer exports it.</p>
<p>The Bible text editors no longer grab focus on their own.</p>
<p>Fixed: Bibledit Mac cannot print.</p>
<p>Fixed: Scrolling issue in visual chapter editor.</p>
<p>Disable App Nap on the Mac.</p>
<p>Fixed: Edit the Bible text, undo the edit: It sends an empty email to the subscribed users.</p>
<p>New resource: Open Scriptures Brown Driver Briggs lexicon.</p>
<p>New resource: Open Scriptures Hebrew text with Strong numbers.</p>
<p>New resource: Hebrew text of the VU University Amsterdam with glosses and morphology, <a href="/help/licenses">see the license section for the sources</a>.</p>
<p>Lexicon resources displays the Hebrew and Greek Bible text plus Strong definitions.</p>
<p>Better checks suppression handling.</p>
<p>Lexicon displays the English Bible text plus Strong definitions.</p>
<p>The page for synchronizing with a git repository links to that repository for the history.</p>
<p>Clearer information on page for synchronizing with a git repository.</p>
<p>Click in the visual verse editor to navigate to another verse.</p>
<p>More accurate positioning of the caret in the visual chapter editor.</p>
<p>Fixed: On USFM import it removes any + sign.</p>
<p>Fixed: On a client, one cannot assign a note to anyone except oneself.</p>
<p>Manually synchronize with Paratext.</p>
<p>Fixed: On client: Cannot assign a consultation note to somebody else.</p>
<p>Support for image resources that span a range of passages.</p>
<p>The Checks store no more than 10 of the same results.</p>
<p>Creates a default Bible with the text from the World English Bible.</p>
<p>Easier notes source editing.</p>
<p>Server implements HTTP caching for greater efficiency.</p>
<p>Can set the line height and the letter spacing for the four Bible editors.</p>
<p>Can set the font size for everything, and for the menu.</p>
<p>When no font name is given for a Bible on a client, it takes the font name entered in Bibledit Cloud.</p>
<p>The Android back button navigates back in the stack of viewed web pages.</p>
<p>Disables framekillers.</p>
<p>Clients can download extra fonts from the Cloud.</p>
<p>Smart nightly exports only export when the Bible text was updated.</p>
<p>Note checksum cache for faster note synchronization in case of thousands of notes.</p>
<p>One-click submission of Bible to the Bible Drop Box at http://freely-given.org/Software/BibleDropBox.</p>
<p>Improved caching of the NET Bible.</p>
<p>Central cache for external resources for clustered Bibledit Cloud installations.</p>
<p>Watchdog timers on all sync actions for increased robustness on bad networks.</p>
<p>Can set the width of the entire workspace.</p>
<p>Sprint planning is available in the Cloud only.</p>
<p>Can display context in the Resources.</p>
<p>Deletes note body after removing the note caller in the visual chapter editor. </p>
<p>Renumber notes after inserting or removing one in the visual chapter editor.</p>
<p>Support for combined verses like 10-12 and 12,13 and 10,11b.</p>
<p>Fixed: Loses any + sign when a client sends a Bible chapter to the cloud.</p>
<p>Improved transfer of workspaces between client and server.</p>
<p>Fixed: Server sends spurious messages about unable to merge client Bible data.</p>
<p>Can set write access to Bible per book.</p>
<p>Clickable arrows for navigating to the previous or the next verse.</p>
<p>The interface can be localized.</p>
<p>Automatically includes updated localizations from Launchpad crowd translation services.</p>
<p>Cloud removes unprocessed user and team changes older than five days to automatically recover from crashes due to limited memory.</p>
<p>Cloud removes downloadable revision notifications older than a month.</p>
<p>Client refers user notifications to the Cloud.</p>
<p>Client synchronizes the Change Notifications with the Cloud.</p>
<p>Fixed: The number of business day in a month on the sprint planning is incorrect.</p>
<p>The workspace can pass a Bible to any of the four editors.</p>
<p>Fixed: Marker not in stylesheet: \+add*.</p>
<p>The Bible editor indicates the focused verse after reload.</p>
<p>Fixed: On Windows, a burst of logs leads to an unclear journal.</p>
<p>Better animation of USFM chapter editor and a few more screens.</p>
<p>It no longer automatically fixes a missing note caller.</p>
<p>It completes a Bible save operation before starting another one.</p>
<p>Fixed: The editor changes the \xt to \xo.</p>
<p>Fixed: When the Bible editors save text, the + signs disappear.</p>
<p>When merging changes in a Bible chapter, prioritize changes from a Bible editor.</p>
<p>Watchdog timer on send/receive notes.</p>
<p>Fixed: Loses text following unescaped entities in a note subject when editing it.</p>
<p>Fixed: When going to another verse in the chapter editor, the caret is placed some characters away from the start of the verse.</p>
<p>Fixed: After entering details for the POP3 server, it only starts collecting email after restarting the server.</p>
<p>Fixed: When the Resources display a USFM resource or a Bible, and the USFM has italics as part of the word, there is a space in that word in the Resources.</p>
<p>Fixed: After applying the "ft" style to a footnote, it overwrites the \f ... \f*.</p>
<p>Fixed: A client keeps sending a chapter with multiple spaces to the server.</p>
<p>Fixed: On the Bibledit clients, replacing does not work in a Bible.</p>
<p>Fixed: The number of characters in drop caps in OpenDocument export is always two.</p>
<p>Fixed: The caret jumps around in the USFM chapter editor.</p>
<p>Support for USFM \b (Blank line).</p>
<p>Supports the major web browsers: Chrome, Firefox, Internet Explorer, Safari, Opera, Edge.</p>
<p>Integrated Paratext bridge for seamless collaboration with Paratext USFM data.</p>
<p>Release Bibledit for Linux.</p>
<p>Release Bibledit for iOS.</p>
<p>Release Bibledit for Android.</p>
<p>Release Bibledit for Mac.</p>
<p>Release Bibledit for Windows.</p>
<p>Release Bibledit Cloud.</p>
<p>The Manager role has access to all Bibles.</p>
<p>Bible editor for one verse in formatted view.</p>
<p>Many minor changes and fixes.</p>
<p>Complete port of Bibledit-Web.</p>
<p>Partial port of Bibledit-Web.</p>
